name: Tweet New Womps
on:
  schedule:
    - cron: '*/9 * * * *'
jobs:
  tweet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - uses: actions/checkout@v2

      - run: yarn

      - run: yarn start
        env:
          TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
          TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}

      - name: Commit files
        id: commit-files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "update meta.json with latest womp details"
        continue-on-error: true

      - name: Push changes
        uses: ad-m/github-push-action@master
        if: steps.commit-files.outcome == 'success'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'master'
